[submodule "nano_build_opencv"]
	path = nano_build_opencv
	url = https://github.com/Curiosity-AI-team/nano_build_opencv.git
[submodule "ROS1-installation"]
	path = ROS1-installation
	url = https://github.com/TPODAvia/ROS1-installation.git
[submodule "catkin_ws/src/OrcaRL"]
	path = catkin_ws/src/OrcaRL
	url = https://github.com/Curiosity-AI-team/OrcaRL.git
