[submodule "nano_build_opencv"]
	path = nano_build_opencv
	url = https://github.com/Curiosity-AI-team/nano_build_opencv.git
[submodule "ros2_setup_scripts_ubuntu"]
	path = ros2_setup_scripts_ubuntu
	url = https://github.com/Tiryoh/ros2_setup_scripts_ubuntu.git
[submodule "colcon_ws/src/OrcaRL2"]
	path = colcon_ws/src/OrcaRL2
	url = https://github.com/Curiosity-AI-team/OrcaRL2.git
