[submodule "nano_build_opencv"]
	path = nano_build_opencv
	url = https://github.com/Curiosity-AI-team/nano_build_opencv.git
[submodule "ros2_setup_scripts_ubuntu"]
	path = ros2_setup_scripts_ubuntu
	url = https://github.com/Tiryoh/ros2_setup_scripts_ubuntu.git
[submodule "colcon_ws/src/OrcaROS"]
	path = colcon_ws/src/OrcaROS
	url = https://github.com/Curiosity-AI-team/OrcaROS.git
[submodule "OrcaVA"]
	path = OrcaVA
	url = https://github.com/Curiosity-AI-team/OrcaVA
[submodule "OrcaHACS"]
	path = OrcaHACS
	url = https://github.com/Curiosity-AI-team/OrcaHACS
[submodule "colcon_ws/src/rmf_demos"]
	path = colcon_ws/src/rmf_demos
	url = https://github.com/open-rmf/rmf_demos.git
[submodule "OrcaRL"]
	path = OrcaRL
	url = https://github.com/Curiosity-AI-team/OrcaRL.git
